*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-color:#000;
    --font-famity:"Jaldi", sans-serif;
}
body{
    font-family: var(--font-famity);
    background-color: #121212;
}

.main{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    font-size: 3rem;
    margin-top: 4rem;
    border-bottom: 4px solid green;
}

.blogs-section{
    width: 60%;
}

.blog-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #333333;
    border-radius: 8px;
    margin: 2rem 0;
}
.blog-box img{
    width: 100%;
    height: 24rem;
    margin-right: 2rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.blog-box-right{
    padding-right: 2rem;
    width: 100%;
}
.blog-box-right p{
    line-height: 22px;
    font-size: 20px;
    font-weight: 100;
}
.blog-box-right button{
    width: 100%;
    border: none;
    padding: .6rem 1rem;
    border-radius: 8px;
    margin-top: 8rem;
    cursor: pointer;
    transition: all ease-in-out .3s;
    border: 1px solid #000;
}
.blog-box-right button:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

@media(max-width:1110px){
    .blogs-section{
        width: 70%;
    }
    .blog-box-right button {
        margin-top: 4rem;
    }
}

@media(max-width:850px){
    .blogs-section{
        width: 90%;
    }
    .blog-box{
        flex-direction: column;
    }
    .blog-box img {
        height: 22rem;
        margin-right: 0rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0;
    }
    .blog-box-right {
        padding: 1.2rem;
        width: 100%;
    }
    .blog-box-right button {
        margin-top: 2rem;
    }
    .blog-box-right h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
}
